SUNO_API_KEY="your_suno_api_key_here"
GENERATOR_STRATEGY=mock # Choose generation strategy: 'mock' or 'suno'
SUNO_CALLBACK_URL=https://example.com/callback # Callback URL required by Suno API
GOOGLE_CLIENT_ID=your_google_client_id_here
GOOGLE_CLIENT_SECRET=your_google_client_secret_here
GOOGLE_REDIRECT_URI=http://127.0.0.1:8000/auth/google/callback/
FRONTEND_URL=http://localhost:5173
BACKEND_URL=http://127.0.0.1:8000